body {
    background: url(../img/cinema.jpg) no-repeat center center fixed;
    -webkit-background-size: no-repeat center fixed;
    -moz-background-size: no-repeat center fixed;
    -o-background-size: no-repeat center fixed;
    background-size: no-repeat center fixed;
}