<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Adaptive Streaming in HTML5</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background: url(http://www.thegreyparrot.co.uk/wp-content/uploads/2016/02/cinema.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body align='center'>

    @*<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Register">Register</a>
                </li>
            </ul>
        </div>
    </nav>*@

    @RenderBody()





    <video id="video" width="640" height="360" crossOrigin="anonymous" controls class="video-js vjs-sublime-skin">
        <source src="https://192.168.1.50:4000/split/video/stream.mpd" type="application/dash+xml">
        Your browser does not support HTML5 video.
    </video>

    <link rel="stylesheet" href="~/css/video-js.css">
    <link rel="stylesheet" href="~/css/videojs-sublime-skin.css">

    <script src="~/js/player-skin.js"></script>
    <script src="~/js/player.full.js"></script>

    <!--
    <script src="js/shaka-player.compiled.js"></script>
    <script src="js/shaka.js"></script>
    -->
    <!-- Third-Party libraries -->
    <script src="~/js/jquery-3.1.1.slim.min.js"> </script>
    <script src="~/js/tether.min.js"> </script>
    <script src="~/js/bootstrap.min.js"> </script>

    <!-- Social Movie libraries -->
    <script src="~/js/dash.all.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/bower_components/argon2-browser/lib/argon2.js"></script>
    <script src="~/bower_components/js-sha512/src/sha512.js"></script>
</body>
</html>
