<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Social Movie</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" >
    <link rel="stylesheet" href="~/css/home.css" >

</head>
<body align='center' style="background-color: #808080">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/MainMenu/Index/">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Logout/">Sair</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <!--
    <script src="js/shaka-player.compiled.js"></script>
    <script src="js/shaka.js"></script>
    -->
    <!-- Third-Party libraries -->
    <script src="~/js/jquery-3.1.1.slim.min.js"> </script>
    <script src="~/js/tether.min.js"> </script>
    <script src="~/js/bootstrap.min.js"> </script>

    <!-- Social Movie libraries -->
    <script src="~/js/dash.all.debug.js"></script>
    <script src="~/js/player.js"></script>


</body>
</html>