@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p onclick='argon("password", "salteado" );'>Click here</p>

<form id="saltForm" asp-action="CheckSalt" asp-controller="Account" method="post" onsubmit="return argon()">
    <p id="salt"></p>
    <input type="text" id="password" />
    <input type="hidden" id="salt" value="@ViewBag.Salt" />
    <input type="hidden" id="hash" value="" />
    <input type="submit" id="submit" value="Submit" />
</form>


<script type="text/javascript">
    function argon() {

        var password = document.getElementById("password").innerHTML;

        argon2.hash({ pass: password, salt: '@ViewBag.Salt'})
            //.then(h => console.log(h.hash, h.hashHex, h.encoded)
            .then(h => document.getElementById("hash").innerHTML=h.encoded)
            .catch(e => console.error(e.message, e.code));

    }

</script>